<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Ramalaso Shop</h1>
            <h2 class="subtitle">Find the best products</h2>
        </div>
    </div>
</section>