<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a href="" class="navbar-item">
                <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="200" alt="">
            </a>
        </div>
        <div class="banvbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <span class="icon is-large">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Ramalaso Shop</h1>
            <h2 class="subtitle">Find the best products</h2>
        </div>
    </div>
</section>