<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/6fa1444cbf.js"></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="container" style="flex: 1; padding: 50px 0;">
        <div class="column is-multiline">
            <main><%- body %></main>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>